* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Lilita One", sans-serif;} /*Reset*/

    html{scroll-behavior: smooth}
.MainHeader
{
z-index: 2;
background-color: black;
width: 100%;
min-height: 80px;
position: fixed;
}
.MainHeader .MainHeaderContent
{
display:flex;
max-width: 1300px;
margin: 0 auto;
}
.MainHeader .MainHeaderContent .MainHeaderContentMenu
{
flex-basis:cal(100% - 290px);

}
.MainHeader .MainHeaderContent .MainHeaderContentMenu .navegação
{
   text-align: center;
   font-size: 1.5em;
   display:flex;
   word-spacing: 40px;
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 35px;
   text-decoration: none;
   align-items: center;
   
}

.Intro{
padding: 100px;
display: block;
width: 100%;
}

.Intro img{
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin:auto;
    display: block;
    object-fit: contain;
}
.Projetos_Main{
        background-color: black;
        margin-left: 4vw;
        margin-right: 4vw;
    
}

.Projetos_Main h1{
    background-color: white;
    color:black;
    padding-left: 2vw;
    font-size: 2em;
}

.Blank h4{
    color: transparent; /* make the text invisible */
    user-select: none;
    background-color: white;
}

.Aviso h1{
    background-color: red;
    font-size: 2em;
}
.Aviso {
background-color: red;
padding: 1vh;
}
.Projetos_Main img{
    padding-top: 2vh;
    width: 80%;
    display: inline-block;
}

.Projetos_Main h2{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 2vh;
    color: white;
    padding-bottom: 2vh;
}

.Download {
    padding-right: 5vh;
    font-weight: bold;
    font-size: 2em;
    color: blue;
}
.Footer{
    padding:2vh;
}

a:visited{
    color:white;
}


a{
    color:white;
}

@media (max-width: 920px) {
    .MainHeader {
font-size: 0.65em;
word-spacing: 100px;
padding-top: 0.5vh;
align-items:baseline;

    }
    .Main_Page{
    display:block;
    }
    .Titulo{
        font-size: 0.8em;
    }
    .Box{
        width: 90%;
        margin-bottom: 100px;
    }
    .Propaganda {
        display: none;
    }
    .Propaganda_Mobile h1{
        background-color: white;
        color: black;
      }
      .Propaganda_Mobile_Space h1{
        background-color: black;
        color: transparent; 
        user-select: none;
      }
  }
  .Intro img{
    width: 60vw;
    padding-top: 5vh;
    margin-top: 5vh;
}
.Box img{
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin:auto;
    width: 25vh;
    display: block;
    object-fit: contain
}

.Projetos_Main img{
    padding-top: vh;
    width: 50%;
    display: inline-block;
}

.Intro{
    padding-right:5%;
    padding-left:5%;
    display: block;
    width: 100%;
    }




  @media (max-width: 500px) {
    .MainHeader {
font-size: 0.65em;
word-spacing: 10px;
padding-top: 0vh;
align-items:baseline;

    }
    .Main_Page{
    display:block;
    }
    .Intro img{
        width: 50vw;
        padding-top: 5vh;
        margin-top: 5vh;
    }
    .Titulo{
        font-size: 0.8em;
    }
    .Box{
        width: 90%;
        margin-bottom: 100px;
        padding-left: 0px;
        margin-left:5vw;
      
    }
    .Box h3{
        margin-left: 3vw;
        margin-top: 15vw;
        position: absolute;
        font-size: 1em;
        }
    .Box h4{
        margin-left: 1vw;
        margin-top: 15vw;
        font-size: 1em;
         }
    .Box img{
        padding-top: 2vh;
        padding-bottom: 2vh;
        margin:auto;
        width: 25vh;
        display: block;
        object-fit: contain
  }
.Propaganda{
    display: none;
}
.Propaganda_Mobile {
    display:list-item;
    background-color: white;
    color: black;

  }
  .Propaganda_Mobile_Space h1{
    display:list-item;
    background-color: black;
    color: transparent; 
    user-select: none;

  }

  .Projetos_Main img{
    padding-top: 2vh;
    width: 40%;
    display: inline-block;
}
.Intro{
    padding-left:2%;
    padding-right:2%;
    display: block;
    width: 100%;
    }
}
