* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Lilita One", sans-serif;} /*Reset*/
    html{scroll-behavior: smooth}
.MainHeader
{
z-index: 2;
background-color: black;
width: 100%;
min-height: 80px;
position: fixed;
}
.MainHeader .MainHeaderContent
{
display:flex;
max-width: 1300px;
margin: 0 auto;
}
.MainHeader .MainHeaderContent .MainHeaderContentMenu
{
flex-basis:cal(100% - 290px);

}
.MainHeader .MainHeaderContent .MainHeaderContentMenu .navegação
{
   text-align: center;
   font-size: 25px;
   display:flex;
   word-spacing: 40px;
   padding-left: 100px;
   padding-top: 35px;
}
.main_Page{
   text-align: center;
}
.Texto h1{
z-index: 1;
 font-size:50px;
 margin-top: -80px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.Quem_sou {
flex-direction:column;
padding-top:400px ;
}
.Quem_sou h1{
    color: aquamarine;
    background-color: aliceblue;
}
