* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Lilita One", sans-serif;} /*Reset*/

    html{scroll-behavior: smooth}
.MainHeader
{
z-index: 2;
background-color: black;
width: 100%;
min-height: 80px;
position: fixed;
}
.MainHeader .MainHeaderContent
{
display:flex;
max-width: 1300px;
margin: 0 auto;
}
.MainHeader .MainHeaderContent .MainHeaderContentMenu
{
flex-basis:cal(100% - 290px);

}
.MainHeader .MainHeaderContent .MainHeaderContentMenu .navegação
{
   text-align: center;
   font-size: 1.5em;
   display:flex;
   word-spacing: 40px;
   padding-left: 100px;
   padding-top: 35px;
}

.Intro{
padding: 100px;
background-color: white;
display: block;
}

.Intro img{
    padding-top: 1vh;
    padding-bottom: 5vh;
    margin:auto;
    display: block;
}
