* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Lilita One", sans-serif;} /*Reset*/

    html{scroll-behavior: smooth}

    .lilita-one-regular {
        font-family: "Lilita One", serif;
        font-weight: 400;
        font-style: normal;
      }
      
.MainHeader
{
z-index: 2;
background-color: black;
width: 100%;
min-height: 80px;
position: fixed;
}
.MainHeader .MainHeaderContent
{
display:flex;
max-width: 100vw;
margin: 0 auto;
}
.MainHeader .MainHeaderContent .MainHeaderContentMenu
{
flex-basis:cal(100% - 290px);

}
.MainHeader .MainHeaderContent .MainHeaderContentMenu .navegação
{
   text-align: center;
   font-size: 1.5em;
   display:flex;
   word-spacing: 40px;
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 0%;
   text-decoration: none;
   align-items: center;
   
}

.Titulo{
   text-align: center;
   background-color: white;
   width: 100%;

   
}
.Texto h1{
 z-index: 1;
 font-size:4.5em;
 font-weight: bold;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color:black;
 font-family: 5em, "Ubuntu", sans-serif;
 font-style: normal;
}
.Main_Page{
    padding-top: 80vh;
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    background-color: white;
}
.Box {
    background-color: lightblue;
    width: 45%; /* Cada caixa ocupará 45% do espaço disponível */
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;

}
.Box h1{
padding-left: 10px;
font-size: 3em;
background-color: white;
}
.Box p{
margin:20px;
font-size:1.5em;
}
.Box h3{
    margin-left: 3vw;
    margin-top: 7vw;
    position: absolute;
    font-size: 1.5em;
    }
.Box h4{
    margin-left: 1.7vw;
    margin-top: 7vw;
    position: absolute;
    font-size: 1.5em;
     }
.Box img{
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin:auto;
    width: 0vh;
    display: block;
    object-fit: contain
}


.Propaganda h1{
    background-color: white;
    color: black;
}
.PropagandaSpace h1{
    background-color: black;
    color: transparent; 
    user-select: none;
}
.Propaganda_Mobile{
    display:none;
}

.Footer{
padding:2vh;
}

a:visited{
    color:white;
}


a{
    color:white;
}

@media (max-width: 920px) {
    .MainHeader {
font-size: 0.65em;
word-spacing: 100px;
padding-top: 0.5vh;
align-items:baseline;

    }
    .Main_Page{
    display:block;
    }
    .Titulo{
        font-size: 0.8em;
    }
    .Box{
        width: 90%;
        margin-bottom: 100px;
    }
    .Box img{
        padding-top: 2vh;
        padding-bottom: 2vh;
        margin:auto;
        width: 100vh;
        display: block;
        object-fit: contain
    }
    .Propaganda {
        display: none;
    }
    .Propaganda_Mobile h1{
        background-color: white;
        color: black;
      }
      .Propaganda_Mobile_Space h1{
        background-color: black;
        color: transparent; 
        user-select: none;
      }
  }

  @media (max-width: 480px) {
    .MainHeader {
font-size: 0.65em;
word-spacing: 100px;
padding-top: 0.5vh;
align-items:baseline;

    }
    .Main_Page{
    display:block;
    }
    .Titulo{
        font-size: 0.8em;
    }
    .Box{
        width: 90%;
        margin-bottom: 100px;
        padding-left: 0px;
        margin-left:5vw;
      
    }
    .Box h3{
        margin-left: 3vw;
        margin-top: 15vw;
        position: absolute;
        font-size: 1em;
        }
    .Box h4{
        margin-left: 1vw;
        margin-top: 15vw;
        font-size: 1em;
         }
    .Box img{
        padding-top: 2vh;
        padding-bottom: 2vh;
        margin:auto;
        width: 50%;
        display: block;
        object-fit: contain
    
  }
.Propaganda{
    display: none;
}
.Propaganda_Mobile {
    display:list-item;
    background-color: white;
    color: black;

  }
  .Propaganda_Mobile_Space h1{
    display:list-item;
    background-color: black;
    color: transparent; 
    user-select: none;

  }
}
